{% extends "base.html" %}

{% block content %}
    <div class="container">

        <h1>Persons</h1>

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Add Person
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse " aria-labelledby="headingOne"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <label>Person ID</label>
                                    <input required type="text" class="form-control" name="pid" placeholder="Enter 6 digit ID"
                                           pattern="[0-9]{6}" maxlength="6">
                                </div>
                                <div class="col">
                                    <label>Name</label>
                                    <input required type="text" class="form-control" name="name"
                                           placeholder="Enter Name"
                                           pattern="[a-zA-Z ]{3,}">
                                </div>
                                <div class="col">
                                    <label>Email</label>
                                    <input required type="email" class="form-control" name="email"
                                           placeholder="Enter Email">
                                </div>

                                <div class="col">
                                    <label>Address</label>
                                    <input required type="text" class="form-control" name="address"
                                           placeholder="Enter Address">
                                </div>
                            </div>

                            <br>
                            <button type="submit" class="btn btn-primary">Submit</button>

                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Search
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <form method="get">

                            <label>Enter Pid or Name</label>
                            <input required type="text" name="q" placeholder="Pid or Name">

                            <button type="submit" class="btn btn-primary">Search</button>

                        </form>
                    </div>
                </div>
            </div>

        </div>


        <br>
        {% if messages %}
            {% for mssg in messages %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    {{ mssg }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        {% if all_persons %}
            <br>
            <table class="table table-bordered">
                <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Person ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Edit</th>


                </tr>
                </thead>
                <tbody>
                {% for obj in all_persons %}


                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.pid }}</td>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.email }}</td>
                        <td>{{ obj.address }}</td>
                        <td><a href="{% url 'edit_person' obj.id %}"> Edit </a></td>


                    </tr>

                {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item"><a class="page-link" href="?pg=1"><<</a></li>
                    {% if all_persons.has_previous %}
                        <li class="page-item"><a class="page-link"
                                                 href="?pg={{ all_persons.previous_page_number }}">{{ all_persons.previous_page_number }}</a>
                        </li>
                    {% endif %}
                    <li class="page-item"><a class="page-link"
                                             href="?pg={{ all_persons.number }}">{{ all_persons.number }}</a></li>
                    {% if all_persons.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?pg={{ all_persons.next_page_number }}">{{ all_persons.next_page_number }}</a>
                        </li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="?pg={{ all_persons.paginator.num_pages }}">>></a>
                    </li>
                </ul>
            </nav>
        {% else %}
            <h4>Nothing Found</h4>
            <p>Add Records if table is empty</p>
        {% endif %}
    </div>
{% endblock %}